<!DOCTYPE html>
<html>
<head>
    <title>Tree Shop</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<header>
    <nav>
        <a href="/">TreeShop</a> |
        <a href="/about">About Me</a>
    </nav>
</header>